*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg.jpg);
	height:100vh;
	background-size:cover;
	background-position:left;
	color: white;
}

.nav
{
	float:right;
	margin-top:20px;
	margin-right:50px;
	
}
	
.nav li
{
	display:inline-block;
}

.nav li a
{
	color: #e6b800;
	text-decoration:none;
	padding: 5px 20px;
	font-size:25px;
}

.nav li.active.a
{
	border:3px solid white;
}

.nav li a:hover
{
	border: 3px solid black;
}

.logo img
{
	width:200px;
}

.Headline
{
	position:absolute;
	margin-top: 200px;
}

h1
{
	color:white;
	font-size:60px;
	text-align:center;
	margin-left:100px;
	margin-top: 1px;
}

.button
{
	margin-top:30px;
	margin-left:800px;
}

.bttn1
{
	border:1px solid white;
	padding:10px 30px;
	color:white;
	text-decoration:none;
	margin-right:5px;
	font-size:15px;
	
}

.bttn1:hover
{
	background-color:grey;
}


.bttn2
{
	border:1px solid white;
	padding:10px 30px;
	color:white;
	text-decoration:none;
	margin-right:5px;
	font-size:15px;
	
}

.bttn2:hover
{
	background-color:grey;
}


.login 
{
	color:white;
	font-size:50px;
	text-align:center;
	margin-top: 200px;
	margin-left:600px;
	align-content: center;

}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    margin-right:600
    margin-top: 200px;
}


help{
	font-color:white;
}

.errorMsg{
	font-size:18; 
	color:yellow; 
	margin-top:10px;
	margin-bottom: 10px;
}


p{
	text-align: left;
	color: white;
	font-size: 20px;
	border:3px solid blue;
}

.container {
	border-radius: 5px;
	background-color: black;
	padding: 20px;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}
